<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>hqhmm</title>
  <script src="/static/script/htmx.js"></script>
  <script src="/static/custom.js"></script>
  <script type="module" src="/static/show_mesh.js"></script>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/static/style/bulma.css" />
  <link rel="stylesheet" href="/static/style/fontawesome/css/fontawesome.css" />
  <link rel="stylesheet" href="/static/style/fontawesome/css/solid.css" />
  <link rel="stylesheet" href="/static/style/fontawesome/css/brands.css" />
  <link rel="stylesheet" href="/static/custom.css" />
</head>
