{% macro menu_item_link(url, label, icon=none) %}
  <a href="{{ url }}"
     class="{{ 'is-active' if url==request.path else '' }}">
    {% if icon %}
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-{{ icon }}"></i>
        </span>
        <span>{{ label }}</span>
      </span>
    {% else %}
      {{ label }}
    {% endif %}
  </a>
{% endmacro %}
<aside class="menu">
  <p class="menu-label">hqhmm</p>
  <ul class="menu-list">
    <li>{{ menu_item_link('/new', 'New', 'plus') }}</li>
    <li>{{ menu_item_link('/history', 'History', 'clock') }}</li>
  </ul>
</aside>
