{% macro theme_button(theme, icon) %}
<button
  name="theme"
  value="{{theme}}"
  hx-on::before-request="changeTheme('{{theme}}')"
  hx-post="/set_theme"
  hx-target="closest div"
  hx-swap="outerHTML"
  class="button {{ 'is-active' if config['CUSTOM_THEME']==theme else '' }}"
>
  <span class="icon">
    <i class="fas fa-{{icon}}"></i>
  </span>
</button>
{% endmacro %}

<div class="field has-addons">
  <p class="control">{{ theme_button("light", "sun") }}</p>
  <p class="control">{{ theme_button("dark", "moon") }}</p>
</div>
