{% macro title(title, subtitle=none) %}
  <h1 class="title is-4">{{ title }}</h1>
  {% if subtitle %}<h2 class="subtitle is-6">{{ subtitle }}</h2>{% endif %}
{% endmacro %}
{% from 'input_field.html' import input_field %}
<!DOCTYPE html>
<html lang="" data-theme="{{ config['CUSTOM_THEME'] }}">
  {% include 'layout_header.html' %}
  <body hx-boost="true">
    <div class="container">
      <div class="columns p-4">
        <div id="settings" class="column is-5">{% include 'settings.html' %}</div>
        <div id="result" class="column">{% include 'result.html' %}</div>
      </div>
    </div>
    {% include 'layout_footer.html' %}
  </body>
</html>
