{% macro input_field(id, label, size=3, value="", addon = none) %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ label }}:</label>
        </div>
        <div class="field-body">
            <div class="field {{'has-addons' if addon}}">
                <p class="control">
                    <input name="{{ id }}"
                           id="{{ id }}"
                           class="input"
                           type="text"
                           value="{{ value }}"
                           size="{{ size }}" />
                </p>
                {% if addon %}
                    <p class="control">
                        <a class="button is-static">{{ addon }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
