<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>hqhmm</title>
  <script src="/static/dist/htmx.js"></script>
  <script type="importmap">
    {
        "imports": {
            "three": "/static/dist/three.module.min.js",
            "OrbitControls": "/static/dist/OrbitControls.js",
            "STLExporter": "/static/dist/STLExporter.js",
            "HeightmapMesh": "/static/HeightmapMesh.js",
            "delatin": "/static/dist/delatin.js"
        }
    }
  </script>
  <script src="/static/custom.js"></script>
  <script type="module" src="/static/mesh.js"></script>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/static/dist/bulma.css" />
  <link rel="stylesheet" href="/static/dist/fontawesome/css/fontawesome.css" />
  <link rel="stylesheet" href="/static/dist/fontawesome/css/solid.css" />
  <link rel="stylesheet" href="/static/dist/fontawesome/css/brands.css" />
  <link rel="stylesheet" href="/static/custom.css" />
</head>
